<!-- <div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">

  <select>
    <option [ngSwitch]="regions.name" [value]="patient.okres_lau_kod"> {{patient.datum}} </option>
  </select>

</div>
 -->

 <mat-form-field appearance="fill">
  <mat-label>Select district</mat-label>
  <mat-select (selectionChange)="regionSelected($event)" [(value)]="selectedRegion">
    <mat-option value="CZ0311">Ceske Budejovice</mat-option>
    <mat-option value="CZ0312">Cesky Krumlov</mat-option>
    <mat-option value="CZ0313">Jindrichuv Hradec</mat-option>
    <mat-option value="CZ0314">Pisek</mat-option>
    <mat-option value="CZ0315">Prachatice</mat-option>
    <mat-option value="CZ0316">Strakonice</mat-option>
    <mat-option value="CZ0317">Tabor</mat-option>
  </mat-select>
</mat-form-field>

<div class="container">
  <div style="margin: auto; padding: 15px 50px 20px 50px;" *ngIf="cbPatients">In district Ceske Budejovice we have had altogether <span [innerText]="cbPatients.length" > </span> COVID patients</div>

  <div style="margin: auto; padding: 0 50px 20px 50px;" *ngIf="cbPatients">Out of it there is {{menCount}} MEN patients</div>

  <div style="margin: auto; padding: 0 50px 20px 50px;" *ngIf="cbPatients">The daily increase was {{dailyIncrease}}</div>
</div>

<div class="flex-container">
  <div>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
    </mat-form-field>
  </div>

  <div class="exporters">

    &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'CBcovid19'})">Excel</button>
    &nbsp;&nbsp;<button mat-raised-button color="accent" (click)="exporter.exportTable('csv', {fileName:'CBcovid19'})">Csv</button>
    &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="exporter.exportTable('json', {fileName:'CBcovid19'})">Json</button>
    &nbsp;&nbsp;<button mat-raised-button color="accent" (click)="exporter.exportTable('txt', {fileName:'CBcovid19'})">Txt</button>
  </div>
</div>

<mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8 full-width" #exporter="matTableExporter" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="datum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.datum}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="vek">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vek </th>
    <td mat-cell *matCellDef="let element"> {{element.vek}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="pohlavi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pohlavi </th>
    <td mat-cell *matCellDef="let element"> {{element.pohlavi}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="kraj_nuts_kod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> kraj_nuts_kod </th>
    <td mat-cell *matCellDef="let element"> {{element.kraj_nuts_kod}} </td>
  </ng-container>

  <ng-container matColumnDef="okres_lau_kod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> okres_lau_kod </th>
    <td mat-cell *matCellDef="let element"> {{element.okres_lau_kod}} </td>
  </ng-container>

  <ng-container matColumnDef="nakaza_v_zahranici">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> nakaza_v_zahranici</th>
    <td mat-cell *matCellDef="let element"> {{element.nakaza_v_zahranici}} </td>
  </ng-container>

  <ng-container matColumnDef="nakaza_zeme_csu_kod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> nakaza_zeme_csu_kod</th>
    <td mat-cell *matCellDef="let element"> {{element.nakaza_zeme_csu_kod}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



